.sign-blue {
  background-image: radial-gradient(ellipse 50% 35% at 150% 150%, #18516b, transparent);
  color: #effcff;
  text-shadow: 0 0 1.6rem #effcff, 0 0 2.5rem rgba(101, 245, 255, 0.5),
    -0.2rem 0.1rem 2rem rgba(101, 245, 255, 0.5), 0.2rem 0.1rem 2rem rgba(101, 245, 255, 0.5),
    0 -0.5rem 3rem rgba(36, 229, 255, 0.5), 0 0.5rem 4rem rgba(36, 229, 255, 0.5);
  animation: shine-blue 4s forwards, flicker-blue 6s infinite;
}

@keyframes blink-blue {
  0%,
  22%,
  36%,
  75% {
    color: #e6faff;
    text-shadow: 0 0 1.6rem #e6faff, 0 0 2.5rem rgba(101, 245, 255, 0.5),
      -0.2rem 0.1rem 2rem rgba(101, 245, 255, 0.5), 0.2rem 0.1rem 2rem rgba(101, 245, 255, 0.5),
      0 -0.5rem 3rem #06282e, 0 0.5rem 4rem #06282e;
  }
  28%,
  33% {
    color: #082a31;
    text-shadow: none;
  }
  82%,
  97% {
    color: #082a31;
    text-shadow: none;
  }
}

.flicker-blue {
  animation: shine-blue 4s forwards, blink-blue 6s 4s infinite;
}

.fast-flicker-blue {
  animation: shine-blue 4s forwards, blink-blue 20s 2s infinite;
}

@keyframes shine-blue {
  0% {
    color: #06282e;
    text-shadow: none;
  }
  100% {
    color: #e6faff;
    text-shadow: 0 0 0.6rem #e6faff, 0 0 2.5rem rgba(101, 245, 255, 0.5),
      -0.2rem 0.1rem 2rem rgba(101, 245, 255, 0.5), 0.2rem 0.1rem 2rem rgba(101, 245, 255, 0.5),
      0 -0.5rem 3rem rgba(36, 229, 255, 0.5), 0 0.5rem 4rem rgba(36, 229, 255, 0.5);
  }
}

@keyframes flicker-blue {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.sign-pink {
  background-image: radial-gradient(ellipse 50% 35% at 150% 150%, #6b1839, transparent);
  color: #fff2ff;
  text-shadow: 0 0 1rem #fff2ff, 0 0 2rem rgba(255, 101, 188, 0.5),
    -0.2rem 0.1rem 1.5rem rgba(255, 101, 188, 0.5), 0.2rem 0.1rem 1.5rem rgba(255, 101, 188, 0.5),
    0 -0.5rem 2.5rem rgba(255, 36, 131, 0.5), 0 0.5rem 3.5rem rgba(255, 101, 188, 0.5);
  animation: shine-pink 4s forwards, flicker-pink 6s infinite;
}

@keyframes blink-pink {
  0%,
  22%,
  36%,
  75% {
    color: #fff2ff;
    text-shadow: 0 0 1rem #fff2ff, 0 0 2rem rgba(255, 101, 188, 0.5),
      -0.2rem 0.1rem 1.5rem rgba(255, 101, 188, 0.5), 0.2rem 0.1rem 1.5rem rgba(255, 101, 188, 0.5),
      0 -0.5rem 2.5rem #2e0617, 0 0.5rem 3.5rem #2e0617;
  }
  28%,
  33% {
    color: #3f0a20;
    text-shadow: none;
  }
  82%,
  97% {
    color: #3f0a20;
    text-shadow: none;
  }
}

.flicker-pink {
  animation: shine-pink 4s forwards, blink-pink 6s 4s infinite;
}

.fast-flicker-pink {
  animation: shine-pink 4s forwards, blink-pink 20s 2s infinite;
}

@keyframes shine-pink {
  0% {
    color: #2e0617;
    text-shadow: none;
  }
  100% {
    color: #fff2ff;
    text-shadow: 0 0 0.6rem #fff2ff, 0 0 1.5rem rgba(255, 101, 188, 0.5),
      -0.2rem 0.1rem 1rem rgba(255, 101, 188, 0.5), 0.2rem 0.1rem 1rem rgba(255, 101, 188, 0.5),
      0 -0.5rem 2rem rgba(255, 101, 188, 0.5), 0 0.5rem 3rem rgba(255, 101, 188, 0.5);
  }
}

@keyframes flicker-pink {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.sign-yellow {
  background-image: radial-gradient(ellipse 50% 35% at 150% 150%, #6b6318, transparent);
  color: #fefff1;
  text-shadow: 0 0 0.6rem #fefff1, 0 0 1.5rem rgba(255, 240, 101, 0.5),
    -0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25), 0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25),
    0 -0.5rem 2rem rgba(255, 233, 36, 0.25), 0 0.5rem 3rem rgba(255, 233, 36, 0.25);
  animation: shine-yellow 6s forwards, flicker-yellow 7s infinite;
}

@keyframes blink-yellow {
  0%,
  22%,
  36%,
  75% {
    color: #fefff1;
    text-shadow: 0 0 0.6rem #fefff1, 0 0 1.5rem rgba(255, 240, 101, 0.25),
      -0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25), 0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25),
      0 -0.5rem 2rem #2e2706, 0 0.5rem 3rem #2e2706;
  }
  28%,
  33% {
    color: rgba(255, 240, 101, 0.25);
    text-shadow: -0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25);
  }
  82%,
  97% {
    color: rgba(255, 240, 101, 0.25);
    text-shadow: -0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25);
  }
}

.flicker-yellow {
  animation: shine-yellow 2s forwards, blink-yellow 3s 2s infinite;
}

.fast-flicker-yellow {
  animation: shine-yellow 60s forwards, blink-yellow 30s 0.3s infinite;
}

@keyframes shine-yellow {
  0% {
    color: #2e2706;
    text-shadow: none;
  }
  100% {
    color: #fefff1;
    text-shadow: 0 0 0.6rem #fefff1, 0 0 1.5rem rgba(255, 240, 101, 0.25),
      -0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25), 0.2rem 0.1rem 1rem rgba(255, 240, 101, 0.25),
      0 -0.5rem 2rem rgba(255, 233, 36, 0.25), 0 0.5rem 3rem rgba(255, 233, 36, 0.25);
  }
}

@keyframes flicker-yellow {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
