mixin neon-logo
  .neon-logo.pause-animation(data-page-loaded='start-anim')(class=allMods)&attributes(attributes)
    p.neon-logo__auto.sign-pink(data-page-loaded='start-anim') 
      |au
      span.fast-flicker-pink t
      |o
    p.neon-logo__kraftwerk.sign-blue(data-page-loaded='start-anim') 
      span.flicker-blue K
      |raftwerk