.neon-logo {
  width: fit-content;

  transition: $transition;
  transition-delay: 0.5s;

  &__auto {
    width: fit-content;

    font-family: Zen;
    font-size: rem(102px);
    // font-family: Monoton;
    // font-size: rem(90px);
    text-transform: uppercase;

    letter-spacing: 0.06em;
  }

  &__kraftwerk {
    width: fit-content;
    // font-family: Inter;
    font-family: fabfelt;

    font-weight: 200;
    font-style: italic;
    font-size: rem(74px);
    rotate: -7deg;
    // margin-left: rem(-20px);
    letter-spacing: 0.05em;
  }
}
