mixin neon-logo
  .neon-logo.pause-animation(data-page-loaded='start-anim')(class=allMods)&attributes(attributes)
    span.neon-logo__auto.sign-pink(data-page-loaded='start-anim') 
      span.fast-flicker-pink a
      |uto
    span.neon-logo__kraftwerk.sign-blue(data-page-loaded='start-anim') 
      |kra
      span.flicker-blue f
      |twerk