.preloader {
  position: absolute;
  inset: 0;
  min-height: rem(700px);
  max-height: rem(1280px);
  // z-index: 99;
  background: rgb(6, 4, 2);
  color: #fff;
  font-size: rem(40px);
  display: flex;
  // justify-content: space-between;
  align-items: center;
  overflow: hidden;

  transition: $transition;

  &__item {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    > img,
    picture {
      width: 100%;
      scale: 1 1.15;
    }

    &[data-preloader-item='0'] {
      animation: preloader-item-anim 3s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='1'] {
      animation: preloader-item-anim 5s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='2'] {
      animation: preloader-item-anim 8s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='3'] {
      animation: preloader-item-anim 4s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='4'] {
      animation: preloader-item-anim 2.5s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='5'] {
      animation: preloader-item-anim 12s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='6'] {
      animation: preloader-item-anim 5.5s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='7'] {
      animation: preloader-item-anim 7.5s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }

    &[data-preloader-item='8'] {
      animation: preloader-item-anim 6.5s infinite forwards linear;

      &.fix {
        animation: preloader-item-fix 1.5s forwards cubic-bezier(0.29, 0.84, 0.64, 0.96);
      }
    }
  }

  &__scale {
    position: fixed;
    bottom: rem(60px);
    right: rem(60px);

    width: rem(500px);
    height: rem(12px);

    font-size: rem(16px);
    color: #0c100f;
    background: #fff;

    overflow: hidden;

    &-loading {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;

      background: red;

      transition-duration: 2s;

      animation: preloader-loading 9s 0.5s forwards;

      @keyframes preloader-loading {
        0% {
          left: -100%;
        }

        25% {
          left: -82%;
        }

        28% {
          left: -82%;
        }

        33% {
          left: -61%;
        }

        34% {
          left: -61%;
        }

        45% {
          left: -44%;
        }

        49% {
          left: -44%;
        }

        71% {
          left: -42%;
        }

        76% {
          left: -42%;
        }

        91% {
          left: -30%;
        }

        95% {
          left: -30%;
        }

        100% {
          left: -26%;
        }
      }

      &.loaded {
        animation: preloader-loaded 2s forwards;

        @keyframes preloader-loaded {
          0% {
            left: -26%;
          }

          64% {
            left: -18%;
          }

          78% {
            left: -18%;
          }

          86% {
            left: -7%;
          }

          94% {
            left: -7%;
          }

          100% {
            left: 0;
          }
        }
      }
    }
  }
}

@keyframes preloader-item-anim {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes preloader-item-fix {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
