mixin preloader(mods)
  .preloader(class=allMods)&attributes(attributes)
    .preloader__item.test(data-preloader-item='0') 1
    .preloader__item.test(data-preloader-item='1') 2
    .preloader__item.test(data-preloader-item='2') 3 
    .preloader__item.test(data-preloader-item='3') 4
    .preloader__item.test(data-preloader-item='4') 5
    .preloader__item.test(data-preloader-item='5') 6 
    .preloader__item.test(data-preloader-item='6') 7
    .preloader__item.test(data-preloader-item='7') 8
    .preloader__item.test(data-preloader-item='8') 9
    .preloader__scale
      .preloader__scale-loading

