mixin preloader(mods)
  .preloader(class=allMods)&attributes(attributes)
    .preloader__item(data-preloader-item='0' data-parallax-item data-parallax-speed='1.6')
      img(src="images/preloader/preloader-1.png", alt="")
    .preloader__item(data-preloader-item='1' data-parallax-item data-parallax-speed='2.3')
      img(src="images/preloader/preloader-2.png", alt="")
    .preloader__item(data-preloader-item='2' data-parallax-item data-parallax-speed='0.55')
      img(src="images/preloader/preloader-3.png", alt="")
    .preloader__item(data-preloader-item='3' data-parallax-item data-parallax-speed='0.75')
      img(src="images/preloader/preloader-4.png", alt="")
    .preloader__item(data-preloader-item='4' data-parallax-item data-parallax-speed='1.8')
      img(src="images/preloader/preloader-5.png", alt="")
    .preloader__item(data-preloader-item='5' data-parallax-item data-parallax-speed='0.9')
      img(src="images/preloader/preloader-6.png", alt="")
    .preloader__item(data-preloader-item='6' data-parallax-item data-parallax-speed='1.4')
      img(src="images/preloader/preloader-7.png", alt="")
    .preloader__item(data-preloader-item='7' data-parallax-item data-parallax-speed='2.5')
      img(src="images/preloader/preloader-8.png", alt="")
    .preloader__item(data-preloader-item='8' data-parallax-item data-parallax-speed='1.75')
      img(src="images/preloader/preloader-9.png", alt="")
    .preloader__scale(data-page-loaded='hide')
      .preloader__scale-loading

