.main-hero {
  position: relative;

  height: 100vh;
  min-height: rem(700px);
  max-height: rem(1280px);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  &__inner {
    position: relative;

    height: rem(700px);
    width: 100%;

    padding: rem(60px);
  }

  &__logo {
    position: relative;
    transition: 1s ease-out 0s;
  }

  .neon-logo {
    // margin-left: rem(120px);
    // margin-left: rem(40px);
    // margin-top: rem(112px);
    margin-top: rem(-60px);

    * {
      animation-delay: 11s;
    }
  }

  &__title {
    position: relative;
    width: rem(700px);
    font-size: rem(48px);
    // margin-left: rem(120px);
    // margin-left: rem(40px);
    margin-top: rem(100px);
    margin-top: rem(128px);
    opacity: 0.9;
    font-family: 'GothamSSm';
    text-transform: uppercase;
    letter-spacing: 0.35em;

    transition: $transition 1s;
  }

  &__subtitle {
    position: relative;
    width: fit-content;
    font-size: rem(24px);
    margin: rem(192px) auto 0;
    margin: rem(252px) auto 0;
    padding: rem(16px);
    opacity: 0.9;
    font-family: 'GothamSSm';
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    border: rem(4px) solid #fff;
    opacity: 0.9;

    transition: $transition 1s;
  }
}
