.header {
  flex: 0 1;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;

  // background: green;
  color: #fff;

  &__menu {
    transition: $transition 1s;
  }

  &__inner {
    position: relative;

    padding: rem(32px) rem(60px);
    display: flex;
    justify-content: space-between;
    //align-items: center;

    transition: $transition;

    .neon-logo {
      position: absolute;
      top: rem(32px);
      left: rem(60px);
    }
  }

  &__logo {
    display: none;
  }

  &__nav {
    display: flex;
    gap: rem(40px);

    @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
      &:hover {
        .header__nav-link {
          opacity: 0.4;
        }
      }
    }

    .header__nav-link {
      display: block;
      width: fit-content;
      //padding-bottom: rem(20px);
      padding: rem(10px);
      opacity: 0.9;
      font-family: 'GothamSSm';
      text-transform: uppercase;
      letter-spacing: 0.25em;
      text-align: center;
      color: #fff;
      opacity: 0.9;

      @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: -150%;
    background: rgb(6, 4, 2);
    box-shadow: 0 0 rem(12px) 0 transparent;

    transition: $transition;
    transition-duration: 1s;
  }

  &.fix {
    //    .header__inner {
    //     padding-top: rem(32px);
    //   }

    .header__logo {
      opacity: 0.9;

      * {
        animation: none !important;
        background-image: none !important;
        color: #fff !important;
        text-shadow: none !important;
      }

      .neon-logo {
        top: rem(21px);
      }

      .neon-logo__auto {
        font-size: rem(32px);
      }

      .neon-logo__kraftwerk {
        font-size: rem(20.5px);
      }
    }

    .header__bg {
      top: 0;
      box-shadow: 0 0 rem(12px) rem(12px) rgba(204, 204, 204, 20%);
      transition: $transition, box-shadow 1s ease-in-out;
      transition-duration: 1s;
    }
  }
}
