.header {
  flex: 0 1;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;

  // background: green;
  color: #fff;

  &__menu {
    transition: $transition 1s;
  }

  &__inner {
    padding: rem(40px) rem(60px) rem(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: rem(40px);

    @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
      &:hover {
        .header__nav-link {
          opacity: 0.4;
        }
      }
    }

    .header__nav-link {
      display: block;
      width: fit-content;
      //padding-bottom: rem(20px);
      padding: rem(10px);
      opacity: 0.9;
      font-family: 'GothamSSm';
      text-transform: uppercase;
      letter-spacing: 0.25em;
      text-align: center;
      color: #fff;
      opacity: 0.9;

      @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
