
header.header
  .header__inner
    .header__logo  
    .header__menu.pause-animation(data-page-loaded='start-anim')
      ul.header__nav
        li
          a(href="#").header__nav-link.hover-line Услуги
        li
          a(href="#").header__nav-link.hover-line Наши работы
        li
          a(href="#").header__nav-link.hover-line Контакты
        li
          a(href="#").header__nav-link.hover-line Калькулятор
        li
          a(href="#").header__nav-link.hover-line 8-800-555-35-35
